* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edefee;
    font-family: 'Markazi Text', serif;
    margin: 3rem 5% 3rem 5%; /* "top right bottom left" left and right 5% window size */
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    margin-top: 0.5rem;
}

a:hover {
    color: rgb(104, 102, 102);
}

/*img descendant of header*/
header > img {
    /* center the logo inside of the header */
    display: block; /* from inline element to block element */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5%;
    width: 60%;
}

nav ul {
    list-style: none; /* no bullet */
    text-align: center;
    background-color: white;
    width: 100%;
    padding: .5rem;
}

nav li {
    display: inline-block;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: auto 1.5rem auto 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
}

a {
    color: black;
    text-decoration: none;
}

section {
    display: flex;
}

article {
    flex: 1;
}

footer {
    margin-top: 3rem;
    display: flex;
}

footer div {
    flex: 1;
}

footer img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

article  {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 9px;
}
#banner {
    background-image: url('https://images.pexels.com/photos/4544814/pexels-photo-4544814.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: right;
    opacity: 100%;
}
#bannerTitle {
    color: rgb(0, 0, 0);
}

#banner > p, #banner > h1 {
    margin: 1% 1% 1% 1%;
}

#banner > p {
    justify-self: right;
    border-radius: 15px;
    padding: .5rem;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 0;
}

main #dealAlert {
    font-family: Arial, 'Helvetica', sans-serif;
    background-color: rgba(207, 205, 205, 0.534);
}

#ourstoryS1 > h2 {
    background-color: rgba(255, 255, 255, 0.937);
    margin: auto 0 auto 0;
    border-radius: 15px;
    padding: 0rem;
    border-color: blueviolet;
    margin: 0;
}

section ul {
    margin: 0.5rem 0 1rem 2rem; /*top right bottom left*/
}

.mainImgs {
    border-radius: 15px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.container p::first-letter {
    font-size: large;
    initial-letter: 1.2;
}

p #dealLink {
    text-justify: right;
    border-color: green;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0);
    color:green;
    border-radius: 25px;
    padding: 0.7rem;
}